<h1>Top</h1>

<%= link_to "新規登録", new_update_path %>

<div>
  <ul>
    <% @update.each do |update| %>
      <table border="1">
        <tr>
          <li id="update_li">
            <th>名前</th>
              <td><%= link_to update.name, edit_update_path(update) %></td>
            <th>年齢</th>
              <td><%= update.age %></td>
            <th>本文</th>
              <td><%= update.contents %></td>
          </li>
        </tr>
      </table>
    <% end %>
  </ul> 
</div>

